#root {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 700px;
  border: 2px solid black;
}

.header {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.add-form-box {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#inputName {
  width: 300px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.date-category-container {
  display: flex;
  flex-direction: row;
}

#inputDate {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  text-align: center;
}

.category-box {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

#categories {
  margin-top: 5px;
}

.button-box {
  margin-top: 20px;
}

.filter-box {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 20px;
}

.filter-text-box {
  display: flex;
  flex-direction: column;
}

#inputFilter {
  width: 300px;
  margin-top: 5px;
}

.filter-radiobuttons-box {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#houshold-button {
    margin-left: 10px;
}

#work-button {
    margin-left: 10px;
}

#studies-button {
    margin-left: 10px;
}

#sparetime-button {
    margin-left: 10px;
}

.header-2 {
  display: flex;
  flex-direction: row;
}

h2 {
  margin-top: 25px;
  margin-left: 20px;
}

.delete-all-button {
  margin-top: 25px;
  margin-left: 300px;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  overflow-y: scroll;
  overflow-x: hidden;
}

.todo-list-header {
  display: flex;
  font-weight: bold;
  border-bottom: 1px dashed;
  margin-right: 20px;
  justify-content: space-between;
}

.empty-header {
    color: white;
    margin-right: 20px;
}

.todo-list-item {
  display: flex;
  margin-top: 5px;
}

.activity-item {
  width: 169px;
}

.date-item {
  width: 155px;
}

.category-item {
  width: 120px;
}

.outdated {
  color: red;
}


